* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation bar */
header {
  background: rgb(255, 210, 11);
  height: 100px;
  margin-bottom: 2rem;
}
.nav-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  gap: 2rem;
  padding-top: 2.5rem;
  
}

.nav-bar li {
  list-style-type: none;
  text-decoration: none;
  font-family: Monaco, monospace;
  text-transform: capitalize;
  
}

.nav-bar li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

#main {
  width: 100%;
  display: flex;
  gap: 5rem;

  justify-content: space-between;
  align-items: flex-start;
}


#transactions {
  width: 80%;
  text-align: justify;
  margin-top: 1rem;
  color: white;
}

#messages {
  background: rgb(255, 255, 255);
  width: 20%;
  height: 100vh;
}

#feed {
  background: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
  width: 80%;
  height: 100vh;
  padding: 10px;
}
